.app_clients {
  background-image: url("../images/clients/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
  }
  &-content {
    p {
      color: $ivory;
    }
    h3 {
      color: $darkCyan;
    }
  }
  .swiper-pagination-bullet {
    background-color: $darkCyan;
  }
}
